<!-- <div class="quotes" ng-controller="getQuoteCtrl as quotes"> -->
	<div class="posting" ng-controller="postQuoteCtrl">
		<form ng-submit="addNew()">
		<input type="text" ng-model="quote.words">
		<input type="text" ng-model="quote.book">
		<input type="text" ng-model="quote.tags" ng-list>
		<input type="submit"  value="send quote">
		</form>
	</div>
<!-- </div> -->
<div class="random" ng-controller="getQuoteRandomCtrl as quote">
		<button ng-click="getQuoteRandom()">Random</button>
	<div ng-repeat="q in quote">
		<h3>{{q.words}}</h3>
	</div>
	
</div>

<div  ng-controller="getTagsCtrl as tags">
	<select id="tags" ng-change="getQuoteByTag()" ng-model="tag" ng-options="tag for tag in tags" >
        <option value="">---Select a Tag---</option>
      </select>	

      	<h2>These are quotes tagged with {{tag}}</h2>
      <div ng-repeat="quote in quotes">
      	<div class="tagQuote">
      		<h3>Tag Quote: {{quote.words}}</h3>
      	</div>
      </div>
</div>

<div class="books" ng-controller="getBooksCtrl as books">
	<select id="books" ng-change="getQuoteByBook()" ng-model="book" ng-options="book for book in books" >
        <option value="">---Select a Book---</option>
      </select>	

      	<h2>These are quotes from the book {{book}}</h2>
      <div ng-repeat="quote in quotes">
      	<div class="bookQuote">
      		<h3>Book Quote: {{quote.words}}</h3>
      	</div>
      </div>
</div>


<div ng-controller="getQuoteCtrl as quotes">
	<div class="quote" ng-repeat="quote in quotes">
		<h3>Quote: {{ quote.words }}</h3>
		<h5>Book: {{ quote.book }}</h5>
		<h5 class="tags">Tags</h5>
		<div ng-repeat="tag in quote.tags">
			<h5>{{ tag }}</h5>
		</div>
	</div>	
</div>

<style>
	.random, .tagQuote, .bookQuote {
		border: 2px solid #333;
		padding: 10px;
		margin: 10px;
	}
	.random h3 {
		text-align: center;
	}
	.tags{
		text-decoration: underline;
	}
</style>