<div class="random" ng-controller="getQuoteRandomCtrl as quote">
		<button ng-click="getQuoteRandom()">Random</button>
	<div ng-repeat="q in quote">
		<h3>{{q.words}}</h3>
	</div>
	
</div>

<div  ng-controller="getTagsCtrl as tags">
	<select id="tags" ng-change="getQuoteByTag()" ng-model="tag" ng-options="tag for tag in tags" >
        <option value="">---Select a Tag---</option>
      </select>	

      	<h2>These are quotes tagged with {{tag}}</h2>
      <div ng-repeat="quote in quotes">
      	<div class="tagQuote">
      		<h3>Tag Quote: {{quote.words}}</h3>
      	</div>
      </div>
</div>

<div class="books" ng-controller="getBooksCtrl as books">
	<select id="books" ng-change="getQuoteByBook()" ng-model="book" ng-options="book for book in books" >
        <option value="">---Select a Book---</option>
      </select>	

      	<h2>These are quotes from the book {{book}}</h2>
      <div ng-repeat="quote in quotes">
      	<div class="bookQuote">
      		<h3>Book Quote: {{quote.words}}</h3>
      	</div>
      </div>
</div>

