<div  ng-controller="getQuoteRandomCtrl as quote">
		<div class="btnWrapper">
			<button class="randomBtn btn" ng-click="getQuoteRandom()">Random Quote</button>
		</div>
	<div class="random" ng-repeat="q in quote">
		<h3>{{q.words}}</h3>
		<p>- {{q.book}}</p>
	</div>
	
</div>

<div  ng-controller="getTagsCtrl as tags">
	<div class="btnWrapper">
		<select class="btn" id="tags" ng-change="getQuoteByTag()" ng-model="tag" ng-options="tag for tag in tags" >
	        <option value="">---Select a Tag---</option>
	      </select>	
	</div>

      <div ng-repeat="quote in quotes">
      	<div class="tagQuote">
      		<h3>{{quote.words}}</h3>
      		<p>- {{quote.book}}</p>
      	</div>
      </div>
</div>

<div class="books" ng-controller="getBooksCtrl as books">
	<div class="btnWrapper">
		<select class="btn" id="books" ng-change="getQuoteByBook()" ng-model="book" ng-options="book for book in books" >
	        <option value="">---Select a Book---</option>
	      </select>	
	</div>

      <div ng-repeat="quote in quotes">
      	<div class="bookQuote">
      		<h3>{{quote.words}}</h3>
      		<p>- {{quote.book}}</p>
      	</div>
      </div>
</div>

<hr>

<h2>Documentation</h2>

<h3>Information Available in the API</h3>

<h3>EndPoints</h3>

