<div  ng-controller="getQuoteRandomCtrl as quote">
		<div class="btnWrapper">
			<button class="randomBtn btn" ng-click="getQuoteRandom()">Random Quote</button>
		</div>
	<div class="random" ng-repeat="q in quote">
		<h3>{{q.words}}</h3>
		<p>- {{q.book}}</p>
	</div>
	
</div>

<div  ng-controller="getTagsCtrl as tags">
	<div class="btnWrapper">
		<select class="btn" id="tags" ng-change="getQuoteByTag()" ng-model="tag" ng-options="tag for tag in tags" >
	        <option value="">---Select a Tag---</option>
	      </select>	
	</div>

      <div ng-repeat="quote in quotes">
      	<div class="tagQuote">
      		<h3>{{quote.words}}</h3>
      		<p>- {{quote.book}}</p>
      	</div>
      </div>
</div>

<div class="books" ng-controller="getBooksCtrl as books">
	<div class="btnWrapper">
		<select class="btn" id="books" ng-change="getQuoteByBook()" ng-model="book" ng-options="book for book in books" >
	        <option value="">---Select a Book---</option>
	      </select>	
	</div>

      <div ng-repeat="quote in quotes">
      	<div class="bookQuote">
      		<h3>{{quote.words}}</h3>
      		<p>- {{quote.book}}</p>
      	</div>
      </div>
</div>

<hr>

<div class="doc-container">
	<h2>Documentation</h2>

	<h3>Information Available in the API</h3>
	<hr class="underline">

	<h3>EndPoints</h3>
	<hr class="underline">

	<h4>All Quotes</h4>

		<p class="endpoint"><span class="url">http://www.dontpanic.space/api/v1/</span>quotes</p> 

		<p>Returns all the quotes available in the API</p>

		<img src="../images/allquotes.png" alt="all quotes response">

		<hr>


	<h4>Random Quote</h4>
		<p class="endpoint"><span class="url">http://www.dontpanic.space/api/v1/</span>quotes/random</p>

		<p>Returns one random quote</p>

		<img src="../images/random.png" alt="random quote response">

		<hr>

	<h4>Single Quote by Id</h4>

		<p class="endpoint"><span class="url">http://www.dontpanic.space/api/v1/</span>quotes/id/<span class="variable">55a5af5643c98f11004daa14</span></p> 

		<p>Returns a single quote by ID</p>

		<img src="../images/random.png" alt="quote by id response">

		<hr>

	<h4>All Tags</h4>
		<p class="endpoint"><span class="url">http://www.dontpanic.space/api/v1/</span>quotes/tags</p>

		<p>Returns a list of all tags that have been used to tag a quote in the API</p>

		<img src="../images/tags.png"  alt="tags response">

		<hr>

	<h4>All Books</h4>
		<p class="endpoint"><span class="url">http://www.dontpanic.space/api/v1/</span>quotes/books</p>

		<p>Returns a list of all books where quotes have been taken from</p>

		<img src="../images/books.png" alt="books response">

		<hr>

	<h4>Quotes by Tag(s)</h4>
		<p class="endpoint"><span class="url">http://www.dontpanic.space/api/v1/</span>quotes/tag/<span class="variable">universe</span></p>

		<p>Or</p>

		<p class="endpoint"><span class="url">http://www.dontpanic.space/api/v1/</span>quotes/tag/<span class="variable">impossible&improbable</span></p>

		<p>returns all quotes tagged by a specific tag or tags when separated by '&'</p>

		<img src="../images/by_tag.png"  alt="response by single tag">

		<hr>

	<h4>Quotes by Book</h4>
		<p class="endpoint"><span class="url">http://www.dontpanic.space/api/v1/</span>quotes/book/<span class="variable">The%20Hitchhiker's%20Guide%20to%20the%20Galaxy</span</p>

		<p>returns all quotes from the specified book</p>

		<img src="../images/by_book.png" alt="response by single book">

		<hr>

</div> <!-- /doc-container -->